<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        {{#link-to 'index' classNames="navbar-brand"}}
            Emberflow
        {{/link-to}}
    </div>

    <ul class="nav navbar-nav">
        <li>
            {{#link-to 'about'}}
                About
            {{/link-to}}
        </li>
    </ul>
</nav>

{{outlet}}
