<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        {{#link-to 'index' classNames="navbar-brand"}}
            Emberflow
        {{/link-to}}
    </div>

    <ul class="nav navbar-nav">
        {{#if userSignedIn}}
            <li>
                {{#link-to 'ask-question'}}
                    Ask Question
                {{/link-to}}
            </li>
        {{/if}}

        <li>
            {{#link-to 'about'}}
                About
            {{/link-to}}
        </li>
    </ul>

    <ul class="nav navbar-nav">
        {{#if userSignedIn}}
            <li>
                <a href="#" {{action 'signOut'}}>
                    Welcome, {{signedInUser.fullName}} - Sign out
                </a>
            </li>

        {{else}}

            <li>
                {{#link-to 'sign-in'}}Sign in{{/link-to}}
            </li>
        {{/if}}
    </ul>
</nav>

{{outlet}}
