<div class="row">
    <div class="col-md-8">
        <h2>{{siteTitle}}</h2>
        <p>It is: {{currentTime}}</p>

        <ul>
            {{#each model}}
                <li>
                    {{#link-to 'question' this}}
                        {{title}}
                    {{/link-to}}

                    (asked by {{author.fullName}}
                </li>

            {{/each}}
        </ul>
    </div>
</div>